.Power_Monitoring_Main {
  width: 100%;
  padding: 50px 120px;
  background-color: rgb(24, 12, 70);

  .Monitoring_Inner {
    display: flex;

    .Left {
      width: 68%;
      height: 100%;
      margin-right: 2%;
      .Static {
        width: 100%;
        display: flex;
        margin-bottom: 40px;

        li {
          width: 33%;
          height: 125px;
          margin-right: 20px;
          border-radius: 8px;
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
          padding: 20px;
          font-size: 22px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          background-color: rgba(255, 255, 255, 0.1); /* 흰색을 살짝 투명하게 */
          backdrop-filter: blur(10px);

          &:last-child {
            margin-right: 0;
          }
          .Value {
            font-size: 28px;
            font-weight: 500;
            span {
              font-size: 20px;
              font-weight: 400;
            }
          }
        }
      }

      .NowUsage {
        border-radius: 8px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); /* 기본 그림자 */
        padding: 15px 15px;
        background-color: rgba(255, 255, 255, 0.1); /* 흰색을 살짝 투명하게 */
        backdrop-filter: blur(10px);

        .title {
          font-size: 20px;
          font-weight: 500;
          margin-bottom: 20px;
          display: flex;
          align-items: center;
          svg {
            border-radius: 4px;
            background-color: #ffffff;
            padding: 5px;
            font-size: 30px;
            color: #121216;
          }
        }
      }
    }

    .Right {
      width: 30%;
      height: 100%;
      li {
        width: 100%;
        height: 168px;
        border-radius: 8px;
        margin-bottom: 20px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); /* 기본 그림자 */
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: rgba(255, 255, 255, 0.1); /* 흰색을 살짝 투명하게 */
        backdrop-filter: blur(10px);
        .Today {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .Compare {
            font-size: 22px;
            display: flex;
            align-items: center;
            svg {
              margin-right: 5px;
              font-size: 35px;
            }
          }
        }
        .title {
          font-size: 18px;
          opacity: 0.8;
          margin-bottom: 10px;
        }
        .title2 {
          font-size: 16px;
          opacity: 0.6;
          margin-bottom: 10px;
        }
        .Value {
          font-size: 25px;
          font-weight: 500;
          span {
            font-size: 20px;
            font-weight: 400;
          }
        }
        .Value2 {
          font-size: 20px;
        }
      }
    }
  }

  .Bottom_Inner {
    width: 100%;
    height: 290px;
    display: flex;

    li {
      margin-right: 2%;
      &:last-child {
        margin-right: 0;
      }
      .title {
        font-size: 18px;
        font-weight: 500;
        opacity: 0.8;
        margin-bottom: 20px;
        border-bottom: 2px solid #ddd;
        padding-bottom: 8px;
      }
    }

    .Bottom_Left {
      width: 68%;
      height: 100%;
      display: flex;

      .Top5 {
        width: 400px;
        height: 100%;
        border-radius: 8px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); /* 기본 그림자 */
        padding: 20px;
        margin-right: 20px;
        background-color: rgba(255, 255, 255, 0.1); /* 흰색을 살짝 투명하게 */
        backdrop-filter: blur(10px);
        .Rank {
          width: 100%;
          .Rank_Device {
            width: 100%;
            padding: 8px;
            font-size: 16px;
            margin-bottom: 10px;
            background-color: #8789df;
            border-radius: 5px;
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
            display: flex;
            justify-content: space-between;
            align-items: center;
            .Rank_Num {
              width: 24px;
              height: 24px;
              border-radius: 50%;
              background-color: #cfd8dc;
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 14px;
              font-weight: bold;
              color: #121216;
            }
          }
        }
      }
      .Device_Summary {
        width: 100%;
        height: 100%;
        border-radius: 8px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); /* 기본 그림자 */
        padding: 20px;
        background-color: rgba(255, 255, 255, 0.1); /* 흰색을 살짝 투명하게 */
        backdrop-filter: blur(10px);

        .Device_Summary_Table {
          width: 100%;
          font-size: 16px;
          th,
          td {
            border: 1px solid #ccc;
            padding: 8px 12px;
          }
          th {
            background-color: #1e2a45;
          }
          tbody tr:hover {
            background-color: #2c3a6a; /* 밝은 네이비 */
          }
          .Rank_Num {
            font-weight: 600;
            text-align: center;
          }
        }
      }
    }

    .Bottom_Right {
      width: 30%;
      height: 100%;

      .Efficiency {
        width: 100%;
        height: 100%;
        border-radius: 8px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); /* 기본 그림자 */
        padding: 20px;
        background-color: rgba(255, 255, 255, 0.1); /* 흰색을 살짝 투명하게 */
        backdrop-filter: blur(10px);
        .title {
          display: flex;
          align-items: center;
          svg {
            border-radius: 4px;
            background-color: #ffffff;
            padding: 5px;
            font-size: 30px;
            margin-right: 10px;
            color: #121216;
          }
        }

        .gauge-container {
          width: 300px;
          height: 150px;
          position: relative;
          margin: 0 auto;
        }

        .gauge-label {
          position: absolute;
          top: 55%;
          left: 50%;
          transform: translate(-50%, -50%);
          text-align: center;
        }

        .gauge-value {
          font-size: 28px;
          font-weight: bold;
          margin-bottom: 1cap;
        }

        .gauge-target {
          font-size: 16px;
          color: #777;
        }

        .gauge-container {
          margin-bottom: 30px;
        }

        .gauge-legend {
          display: flex;
          flex-direction: row;
          gap: 30px;
          margin-top: 20px;
          justify-content: center;
          align-items: center;
        }

        .legend-item {
          display: flex;
          align-items: center;
          font-size: 16px;
        }

        .legend-color {
          width: 16px;
          height: 16px;
          border-radius: 50%;
          margin-right: 8px;
        }

        .legend-color.good {
          background-color: #4ade80;
        }

        .legend-color.warning {
          background-color: #facc15;
        }

        .legend-color.danger {
          background-color: #f87171;
        }

        .legend-color.other {
          background-color: #e5e7eb;
        }
      }
    }
  }
}
